body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    padding-bottom: 100px;
}

#footer {
    background: black;
    color: white;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flix-wrap: nowrap;
    align-items: stretch;
}

.masthead {
    color: white;
    border-radius: 4px;
    background: linear-gradient(352deg, rgba(2,0,36,1) 0%, rgba(199,0,57,1) 100%);
    /* background-color: #EE9BB3; */
    /* background-image: url('/assets/mast.png'); */
    /* background-repeat: none; */
    /* background-position: center; */
    /* background-size: cover; */
    min-height: 30vh; 
    padding: 0 120px;
    padding-top: 80px;
    box-shadow: 10px 10px 30px 5px lightgray;  
}

.dividing {
    border-bottom: 5px solid #C70039; ;
}

.masthead .tag {
    color: white;
}

.tag {
    text-decoration: underline;
    font-size: 1em;
    display: inline-block;
    color: #C70039;
    margin-left: 5px!important;
}

/* Menu */
.menu {
    position: relative;
    padding: 20px 0;
}

.menu > .item, .right.items > .item {
    margin: 3px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.menu > .right.items {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.active.item {
    color: #C70039;
}

.center.aligned {
    text-align: center;
}

.card {
    padding: 5px;
}

.card .title {
    margin-top: 1em;
    font-size: 2.5em;
    color: black;
    text-transform: uppercase;
}

.card .title:hover {
    color: #C70039;
}

.disabled {
    color:  grey;
}

.ui.post.header {
    font-size: 4.5em;
}

.ui.post.segment {
    max-width: 40em!important;
}
.ui.post.segment {
    font-size: 1.5em;
    color: rgb(57, 54, 54);
    line-height: 1.6em;
}



.mobile {
    display: none!important;
}

.highlight {
    overflow: auto;
    border-radius: 3px;
    font-size: .6em;   
    line-height: 1.4em;
    line-spacing: 0;
}

.code {
    padding: 7px;
    margin: 2px;
    border-radius: 5px;
    background: black;
    color: darkgrey;
    font-size: 0.7em;
}
@media only screen and (max-width: 700px) {
    .laptop {
	display: none!important;
    }
    .mobile {
	display: block!important;
    }
}


.container {
    max-width: 100%;
    display: block;
}

@media only screen and (min-width: 1200px) {
    .container {
	width: 1127px;
	margin-left: auto;
	margin-right: auto;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .container {
	width: 933px;
	margin-left: auto;
	margin-right: auto;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .container {
	width: 723px;
	margin-left: auto;
	margin-right: auto;
    }
}

@media only screen and (max-width: 767px) {
    .flex-container {
	display: block;
    }
    .container {
	width: auto;
	margin-left: 1em;
	margin-right: 1em;
    }
}

/* /\* bengali *\/ */
/* @font-face { */
/*   font-family: 'Header'; */
/*   font-style: normal; */
/*   font-weight: 500; */
/*   src: local('Atma Medium'), local('Atma-Medium'), */
/*   url(https://fonts.gstatic.com/s/atma/v4/uK_z4rqWc-Eoo5pyGiI3P8ed.woff2) format('woff2'); */
/*   unicode-range: U+0964-0965, U+0981-09FB, U+200C-200D, U+20B9, U+25CC; */
/* } */

/* /\* latin-ext *\/ */
/* @font-face { */
/*   font-family: 'Header'; */
/*   font-style: normal; */
/*   font-weight: 500; */
/*   src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v13/4iCv6KVjbNBYlgoCjC3jvmyNL4U.woff2) format('woff2'); */
/*   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; */
/* } */
/* /\* latin *\/ */
/* @font-face { */
/*   font-family: 'Header'; */
/*   font-style: normal; */
/*   font-weight: 500; */
/*   src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v13/4iCv6KVjbNBYlgoCjC3jsGyN.woff2) format('woff2'); */
/*   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
/* } */

                                                      
/* /\* bengali *\/ */
/* @font-face { */
/*   font-family: 'Site'; */
/*   font-style: normal; */
/*   font-weight: 400; */
/*   src: local('Hind Siliguri Regular'), local('HindSiliguri-Regular'), url(https://fonts.gstatic.com/s/hindsiliguri/v5/ijwTs5juQtsyLLR5jN4cxBEoTI7ax9k0.woff2) format('woff2'); */
/*   unicode-range: U+0964-0965, U+0981-09FB, U+200C-200D, U+20B9, U+25CC; */
/* } */

/* /\* latin-ext *\/ */
/* @font-face { */
/*   font-family: 'Site'; */
/*   font-style: normal; */
/*   font-weight: 400; */
/*   src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v10/EJRVQgYoZZY2vCFuvAFYzr-tdg.woff2) format('woff2'); */
/*   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; */
/* } */
/* /\* latin *\/ */
/* @font-face { */
/*   font-family: 'Site'; */
/*   font-style: normal; */
/*   font-weight: 400; */
/*   src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v10/EJRVQgYoZZY2vCFuvAFWzr8.woff2) format('woff2'); */
/*   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
/* } */
