.post-card {
    background-size: cover;
    background-repeat: none;
    background-position: center;
    height: 30vh;
    cursor: pointer;
}

.post-card .title.segment {
    color:white;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.5)!important;
}

.disabled {
    color:  grey;
}
.ui.post.segment {
    max-width: 60em!important;
}
.ui.post.segment p {
    line-height: 1.6em;
    font-size: 1.3em;
    text-align: justify;
}

body {
    font-family: Site, serif!important;
    font-size: 18px;
}

p {
    font-family: Site, serif!important;    
}

.main.content {
    min-height: 100vh;
}

.ui.header {
    font-family: Header, sans-serif, cursive;
    font-weight: 500;
}

.ui.masthead.segment {
    background-image: url('/assets/mast.png');
    background-repeat: none;
    background-position: center;
    background-size: cover;
    min-height: 50vh;

 
}
.ui.masthead.segment h1 {
    font-size: 4em;
}

#teaching {
    min-height: 60vh;
}
#research {
    min-height: 70vh;
    background: linear-gradient(45deg, rgba(14,21,58,1) 0%,
				rgba(115,107,147,1) 48%,
    				rgba(243,201,215,1) 100%);    
}
#coding {
    min-height: 70vh;
}
#academics {
    min-height: 60vh;
}

.mobile {
    display: none!important;
}

.masthead .follow.icon {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition:         transform .6s ease-in-out;
}
.masthead .follow.icon:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.brand {
    font-weight: bold!important;
    font-size: 18px;
}

p {
    font-family: 'Lato';
    font-size: 18px;
    color: grey;
}
.bio {
    display: inline-block;
    max-width: 350px;
    font-size: 18px;
    color: white;
}
.bio .quote {
    display: inline-block;
    position: relative;
    top: -8px;
    color: #efcd83;
}

a.styled {
    margin: 2px;
    border-radius: 3px;
    padding: 2px;
    background: #594554;
    display: inline-block;
    color: #00cc99;
    border-width: 0;
}

a.styled::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #00cc99;
    transition: width 0.3s;
}
a.styled:hover::after {
    width: 100%;
    
}

p.post {
    font-size: 32px;
}

@media only screen and (max-width: 700px) {
    .laptop {
	display: none!important;
    }
    .mobile {
	display: block!important;
    }
}

/* bengali */
@font-face {
  font-family: 'Header';
  font-style: normal;
  font-weight: 500;
  src: local('Atma Medium'), local('Atma-Medium'),
  url(https://fonts.gstatic.com/s/atma/v4/uK_z4rqWc-Eoo5pyGiI3P8ed.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0981-09FB, U+200C-200D, U+20B9, U+25CC;
}

/* latin-ext */
@font-face {
  font-family: 'Header';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v13/4iCv6KVjbNBYlgoCjC3jvmyNL4U.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Header';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v13/4iCv6KVjbNBYlgoCjC3jsGyN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

                                                      
/* bengali */
@font-face {
  font-family: 'Site';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Siliguri Regular'), local('HindSiliguri-Regular'), url(https://fonts.gstatic.com/s/hindsiliguri/v5/ijwTs5juQtsyLLR5jN4cxBEoTI7ax9k0.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0981-09FB, U+200C-200D, U+20B9, U+25CC;
}

/* latin-ext */
@font-face {
  font-family: 'Site';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v10/EJRVQgYoZZY2vCFuvAFYzr-tdg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Site';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v10/EJRVQgYoZZY2vCFuvAFWzr8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
