/* This is my first CSS script to use with my homepage */
/* Last Modified: Sat, Jul 30, 2016 */
/* ----------------------------------------------------*/

/*--------------Generic Selectors----------------------*/

* {
    box-sizing: border-box;
}
body {
    /* background-color: beige; */
    padding: 0;
    background: url(backgroundtile.gif);
    background-attachment: fixed;
    /*color: #666;*/
}


/*-----------IDs----------------------------*/

#pageContainer {
    /* margin: 2px 2px 2px 2px; */
    margin: 0;
    padding: 0;
    border: 0px solid #00A;
}




/*-----------IDs-------------------------------------*/
#diaryContainer {
    background-color: azure;
    height: auto;
    border-radius: 15px;
    padding: 5px;
}

#articleBlock {
    margin: 5px;
    border-radius: 15px 50px;
    background: beige;
    padding: 5px;
    background-image: url(notebook_icon.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: right bottom;
    box-shadow: 10px 10px 5px grey;
    height: 50%;
    z-index: 2;
}

.card {
    width: 12%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 10%;
    font-size: 10px;
}

.container {
    padding: 0px;
    color: grey;
    height: 5%;
    text-align: center;
}
.container p {
    text-align: center;
    padding: 2px;
    font-size: 10px;
}

/* /\*-----for grid view-------------------*\/ */
/* .col-1 {width: 8.33%;} */
/* .col-2 {width: 16.66%;} */
/* .col-3 {width: 25%;} */
/* .col-4 {width: 33.33%;} */
/* .col-5 {width: 41.66%;} */
/* .col-6 {width: 50%;} */
/* .col-7 {width: 58.33%;} */
/* .col-8 {width: 66.66%;} */
/* .col-9 {width: 75%;} */
/* .col-10 {width: 83.33%;} */
/* .col-11 {width: 91.66%;} */
/* .col-12 {width: 100%;} */

/* .row { */
    
/* } */

/* .row::after { */
/*     content: ""; */
/*     clear: both; */
/*     display: block; */
/* } */

/* [class*="col-"] { */
/*     float: left; */
/*     padding: 5px; */
/*     border: 1px solid red; */
/* } */

/* @media only screen and (max-width: 768px) { */
/*     /\* For mobile phones: *\/ */
/*     [class*="col-"] { */
/* 	width: 100%; */
/*     } */
/*     /\* #pageHeader {position: absolute} *\/ */
/*     /\* #scrolling {margin-top: 100px} *\/ */
/*     #address p {text-align: center} */
/* } */


#date {
    border-radius: 15px;
    background-color: aliceblue;
    color: grey;
    padding: 5px;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
    font-size: 10px;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    line-height: 15px;
    
}

#date h1 {
    border-bottom: 2px solid grey;
    padding: 3px;
}

#pageHeader {
    background-image: url(backgroundtile.jpg);
    background-size: 200px 200px;
    background-repeat: repeat;
    background-position: left top;
    background-color: beige;
    margin: 2px;
    padding: 2px;
    box-shadow: 5px 5px 5px 5px grey;
}

#pageHeader h1 {
    /* font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; */
    font-family: Modern Antiqua;
    text-align: center;
    color: grey;
    text-transform: capitalize;
    font-size: 20px;
    
}

#pageHeader p {
    text-align: center;
    color: grey;
    text-transform: capitalize;
    font-size: 12px;
    /* font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; */
    font-family: Serif;
    color: green;
}

#preamble {
    border-radius: 10px;
    /* padding-bottom: 16px; */
    background-color: #A3BD7E;
    /*margin-bottom: 2px;*/
    box-shadow: 10px 10px 5px grey;
}


#preamble h2 {
    font-size: 20px;
    font-family: Modern Antiqua;
    color: rgba(0,0,0,0.7);
    text-shadow: 2px 1px 2px #fff;
    border-bottom: 2px solid grey;
    padding: 5px;
}

#preamble p{
    text-indent: 35px;
    margin: 20px 18px 10px 18px;
    color: rgba(0,0,0,0.7);
    text-shadow: 2px 2px 2px #fff;
    font-family: Modern Antiqua;
    font-size: 18px;
}

#address {
    border: 1px solid #bbb;
    background-color: pink;
    border-radius: 25px 10px;
    box-shadow: 5px 5px 2px grey;
    
}

#address h3 {
    font-family: Modern Antiqua;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
    font-size: 18px;
}

#address p {
    font-family: Modern Antiqua;
    font-size: 15px;
    color: grey;
    text-align: left;
    padding: 5px;
    margin: 3px;
    font-weight: 700;
    
}

#scrolling {
    position: relative;
    z-index: 0;
}

#scrolling.fixed {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

#academicPreamble {
    padding: 5px;
    background-color: white;
    border: 3px solid pink;
    border-radius: 5px;
    box-shadow: 3px 3px 3px grey;
    margin: 5px;
}

#academicPreamble p {
    font-family: Modern Antiqua;
    text-indent: 50px;
    border: 1px solid green;
    padding: 10px;
    margin: 5px;
}
.panel-title {
    font-family: Modern Antiqua;
    color: green;
}

/* /\* collapse-expand *\/ */
/* ul.ul2 { */
/*     margin: 0; */
/*     padding: 0; */
/*     list-style-type: none; */
/* } */

/* ul.ul2 li { */
/*     padding: 0; */
/*     margin: 5px; */
/*     /\* left: -10%; *\/ */
/*     /\* padding: 5px; *\/ */
/*     border: 3px solid beige; */
/*     border-radius: 5px; */
/*     background-color: beige; */
    
/* } */

/* label{ */
/*     background-color: lightblue; */
/*     border-radius: 5px; */
/*     padding: 3px; */
/*     padding-left: 2%; */
/*     color: green; */
/*     font-size: 17px; */
/*     margin: 2px; */
/*     font-family: Modern Antiqua; */
/* } */

/* input[type=checkbox] { display: none; } */

/* input[type=checkbox] ~ ul.ul2 { */
/*     max-height: 0; */
/*     max-width: 0; */
/*     opacity: 0; */
/*     /\* overflow: hidden; *\/ */
/*     white-space:nowrap; */
/*     -webkit-transition:all 1s ease; */
/*     -moz-transition:all 1s ease; */
/*     -o-transition:all 1s ease; */
/*     transition:all 1s ease; */
/* } */

/* input[type=checkbox] ~  p { */
/*     max-height: 0; */
/*     max-width: 0; */
/*     opacity: 0; */
/*     /\* overflow: hidden; *\/ */
/*     white-space:nowrap; */
/*     -webkit-transition:all 1s ease; */
/*     -moz-transition:all 1s ease; */
/*     -o-transition:all 1s ease; */
/*     transition:all 1s ease; */

/* } */

/* input[type=checkbox]:checked ~ .ul2 { */
/*     max-height: 100%; */
/*     max-width: 100%; */
/*     opacity: 1; */
/* } */

/* input[type=checkbox]:checked ~ p { */
/*     max-height: 100%; */
/*     max-width: 100%; */
/*     opacity: 1; */
/* } */

/* input[type=checkbox] + label::before{ */
/*     transform-origin:25% 50%; */
/*     border: 5px solid transparent; */
/*     border-width: 8px 12px; */
/*     border-left-color: white; */
/*     /\* margin-left: -10%; *\/ */
/*     width: 0; */
/*     height: 0; */
/*     display: inline-block; */
/*     text-align: left; */
/*     content: ''; */
/*     color: blue; */
/*     -webkit-transition:all .5s ease; */
/*     -moz-transition:all .5s ease; */
/*     -o-transition:all .5s ease; */
/*     transition:all .5s ease; */
/*     /\* position: absolute; *\/ */
/*     /\* margin-top: 1px; *\/ */
/* } */

/* input[type=checkbox]:checked + label:before { */
/*     transform: rotate(90deg); */
/*     /\*margin-top: 6px; */
/*   margin-left: -25px;*\/ */
/* } */