html {
    margin : 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body { 
    position: fixed;
    margin : 0;
    padding: 0;
    width: 100%;
    height: 100%;
      font-family:"Comic Sans MS", cursive, sans-serif;
	background: black; 
}
#wrapper {
	
	padding: 5px;
	//position: absolute;
	
}

.list-group li {
    padding: 1px;
}

.active {
     background: lightgrey;
}

#playlistArea {
    padding: 10px;
    margin-top: 0px;
    border-top: 1px solid white;
}

#currentPlaylist {
    margin: 10px;
    overflow-x: hidden;
    max-height: 40vh;
}

#targetPlaylist {
    //max-height: 100%;
    margin: 10px;
    overflow-x: hidden;
    max-height: 40vh;
}


.dropdown-menu a {
    display: block;
}

#audioContainer {
    padding: 3px;
      	
}

#controls {
	top: 30%;
        //position: fixed;
	right: 2px;
	margin-bottom: 5px; 
	z-index: 999;
}

#brand{ 
	color: indianred;
} 

.myActive {
	background: mistyrose;
}

#addForm {
	width: 50%;
	position: fixed;
	bottom: 5px;
	left: 2%;
	background: black;
	padding: 5px;
	border-radius: 10px;
	color: royalblue;
}

#addForm, #deleteForm, #renameSongForm, #renamePlaylistForm, #searchForm {
	width: 50%;
	position: fixed;
	bottom: 5px;
	left: 30%;
	background: black;
	padding: 5px;
	border-radius: 10px;
	color: royalblue;
}

.transparent {
	background: transparent;
	color: white;
}

marquee {
	margin: 0;
	text-align: left;
	//width: 50%;
        color: white;
	//background: beige;
	//font-family: "Courier New", Courier, monospace;
        font-family:"Lucida Console", Monaco, monospace;
	overflow: hidden;

}

#timeContainer {
	color: white;
	margin-left: 10%;
	//font-family: "Courier New", Courier, monospace;
        font-family:"Lucida Console", Monaco, monospace;
	
}

#status, #loopDisplay, #shuffleDisplay{
	font-size: 15px;
	color: magenta;

}


#playlistDisplay{
	//text-align: center;
	color: magenta;
	font-size: 15px;

}

#found {
	color: magenta;
}

.glyphicon-download-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.sleepAnim{
     -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

#volDisplay {
 font-size: 15px;
color: yellow;
}