<img width="100px" class="img-circle" src="{{ "img/sush.jpg" | relative_url }}">
<h3>Sushovan Majhi</h3>
<h4>sushovan.majhi08 @ gmail.com</h4>

<a class="weblink" href="https://github.com/sushovan4"><img width="25px" src="{{ "img/github.png" | relative_url }}"> sushovan4</a>
<a class="weblink" href="http://subhonita.com">Visit my website</a>

<div class="wrapper index-container">
  <h4>Categories</h4>
  {% include index-of-categories.html %}
</div>

<div class="wrapper index-container">
  <h4>Tags</h4>
    {% include index-of-tags.html %}
</div>
