<span class="glyphicon glyphicon-education logo-small"></span>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#school">School</a></li>
  <li><a data-toggle="tab" href="#ugrad">UG</a></li>
  <li><a data-toggle="tab" href="#pgrad">PG</a></li>
  <li><a data-toggle="tab" href="#phd">PhD</a></li>
  
</ul>
<div class="tab-content" >
  <div id="school" class="tab-pane fade in active">
    <div class="row">
      <div class="col-sm-4">
	<img src="{{ "img/sheakhala.jpg" | relative_url }}" class="img-circle" width="100%">
      </div>
      <div class="col-sm-8">
	<h4>Seakhala Benimadhab Higher Secondary School</h4>
	<p class="text-left">This higher secondary school is situated about 3 miles away from the farming village that I was born at in the Indian state of West Bengal. Eight years at this school brought to me many valuable things including some genuine friends. I wish
	  I had made some more. I did not know that good friends are the rarest things one can find!
	</p>
      </div>
    </div>
  </div>
  
  <div id="ugrad" class="tab-pane fade">
    <div class="row">
      <div class="col-sm-4">
	<img src="{{ "img/vidya.jpg" | relative_url }}" class="img-circle" width="100%">
      </div>
      <div class="col-sm-8">
	<h4>Ramakrishna Mission Vidyamandira</h4>
	<p>Belur, Howrah, West Bengal, India</p>
      </div>
    </div>
  </div>
  
  <div id="pgrad" class="tab-pane fade">
    <div class="row">
      <div class="col-sm-4">
	<img src="{{ "img/tifr.jpg" | relative_url }}" class="img-circle" width="103%">
      </div>
      <div class="col-sm-8">
	<h4>Tata Institute Of Fundamental Research-Center For
	  Applicable Mathematics</h4>
	<p>Sharadanagar, Chikkabommasandra, Bangalore-65, India</p>
      </div>
    </div>
  </div>
  
  <div id="phd" class="tab-pane fade">
    <div class="row">
      <div class="col-sm-4">
	<img src="{{ "img/tulane.jpg" | relative_url }}" class="img-circle" width="103%">
      </div>
      <div class="col-sm-8">
	<h4>Tulane University</h4>
	<p>New Orleans, LA, USA</p>
      </div>
    </div>
  </div>
</div>
