<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm text-center"> 
  <button class="btn btn-circle visible-md visible-lg" onclick="window.location.href='{{ "assets/search.html" |relative_url }}'">
    <span class="glyphicon glyphicon-search">
  </span></button>
  
    {% include about-me.html %}
</div>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ "assets/blog.html" | relative_url }}">Sushovan Majhi</a>
    <button class="btn btn-circle" onclick="window.location.href='{{ "assets/search.html" |relative_url }}'">
      <span class="glyphicon glyphicon-search">
      </span>
    </button>
  </div>
</div>

