<!-- Navibar bar setup -->

{% case page.site-name %}
{% when "home" %}
{% assign home = "active" %}
{% when "academic" %}
{% assign academic = "active" %} 
{% when "blog" %}
{% assign blog = "active" %}
{% endcase %}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid text-center">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	<span class="icon-bar"></span>
 	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="{{ "index.html" | relative_url }}">Sushovan Majhi</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
	<li class="{{ home }}"><a href="{{ "index.html" | relative_url }}">Home</a></li>
	<li class="{{ academic }}"><a href="{{ "academic.html" | relative_url }}">Academic</a></li>
	<li class="{{ blog }}"><a href="//blog.subhonita.com">Blog</a></li>
	<li><a href="{{ "/docs/Sush_CV.pdf" | relative_url }}">CV</a></li>
	<li><a href="http://nita.subhonita.com">আলেয়া </a></li>
      </ul>
    </div>
  </div>
  <!-- <div class="scroll-progress-container"> -->
  <!--   <div class="scroll-progress"></div> -->
  <!-- </div> -->
</nav>
<!-- Navibar ends here -->
