<div class="panel-group" id="accordion1" style="color: black">  
  {% assign tags-sorted = site.tags | sort %}
  {% for tag in tags-sorted %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion1" href="#{% increment counter %}">
	  {{ tag[0] }}</a>
	<span style="margin: 3px;
		     padding: 5px;
		     border-radius: 5px;
		     background-color: lightgrey;
		     color: orange;">{{ tag[1] | size }}</span>
      </h4>
    </div>
    
    <div id="{{ counter | minus: 1 }}" class="panel-collapge collapse">
      <div class="panel-body">
      	{% assign posts = tag[1] %}
      	{% for post in posts %}
      	<h5 class="{{ post.language }}"><a class="weblink" href="{{ post.url | relative_url }}">{{ post.title }}</a></h5>
      	{% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
