<h4> I am primarily interested in <strong>Applied Topology</strong>
  and
  <strong>Computational Geometry</strong>. Right now,
  I am working on a theoretical and an applied project.</h4>
<h4 class="slideanim text-left">The first one falls under the umbrella of <strong>Random Topology</strong>, which involves
  considering topological invariants as random variables and describing their distributions.</h4>
<h4 class="slideanim text-left"> My other project deals with analyzing big data(prostate cancer patient data) using tools from
  <strong>Topological Data Analysis(TDA)</strong> and
  <strong>Machine Learning</strong>.
</h4>

      </div>      
