<div class="dropdown">
  <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
    <h4><span  class="glyphicon glyphicon-share"></h4></span>
  </button>
  
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    <a target="_blank" class="dropdown-item fa fa-facebook"
       href="https://www.facebook.com/dialog/feed?app_id=184683071273&link={% if post.url %}{{ post.url | absolute_url }}{% else %}{{ page.url | absolute_url }}{% endif %}&name={% if post.title %}{{ post.title }}{% else %}{{ page.title }}{% endif %}&caption=%20&description={% if post.excerpt %}{{ post.excerpt }}{% else %}{{ page.excerpt }}{% endif %}&redirect_uri=http%3A%2F%2Fwww.facebook.com%2F"></a>
    
    <a target="_blank" class="dropdown-item fa fa-google" href="https://plus.google.com/share?url={% if post.url %}{{ post.url | absolute_url }}{% else %}{{ page.url | absolute_url }}{% endif %}"></a>
  </div>

</div>
