{% if post.tags %}
{% for tag in post.tags %}
<span style="background-color: royalblue;                                                     
	     display: inline-block;
             color: white;                                                                    
             padding: 2px;                                                                    
	     margin: 2px;
             border-radius: 3px;">{{ tag }}</span>
{% endfor %}
{% else %}
{% for tag in page.tags %}
<span style="background-color: royalblue;
             display: inline-block;
             color: white;                                                                    
             padding: 2px;
             margin: 2px;
             border-radius: 3px;">{{ tag }}</span>
{% endfor %}
{% endif %}
