---
layout: default
site-name: academic
---
<!-- Education Section -->
<div>
  <div class="container text-center bg-paleGreen">
    <h2>Education</h2><br>
    {% include education.html %}
  </div>
  
  <!-- Research Section -->
  <div class="container text-center bg-tomato">
    <h2>Reasearch</h2><br>
    {% include research.html %}
  </div>
  <!-- Research ends here -->
  
  <div class="container text-center bg-springGreen">
    <h2>Teaching</h2><br>
    {% include teaching.html %}
  </div>
      
 
