/*--This is my style file --*/
/* Sushovan Majhi */

body {
    /* background-image: url("back.png"); */
    font-family: Modern Antiqua;
    font-family: 'Playfair Display', serif;
    font-family: 'Gentium Book Basic', serif;
    line-height: 1.8;
    color: #818181;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 20px;
}

.container-fluid {
    padding: 5px 10px;
}

.container {
    padding: 80px 50px;
}
.bg-white {
    background-color: white;
}
.bg-paleGreen {
    background-color: Turquoise;
}

.bg-springGreen {
    background-color: SpringGreen;
}

.bg-tomato {
    background-color: MediumPurple;
}
 
.bangla {
    font-family: 'Atma', cursive;
    /* font-family: BNG, SutonnyBanglaOMJ, SolaimanLipi; */
}

.tab-content {
    padding: 5px;
    margin: 5px;
}

.navbar {
    padding: 0px;
    margin-top: 0px;
    background-image: url("/img/back.png");
    z-index: 9999;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    border-left: 1px solid grey;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 3s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
	opacity: 0;
	-webkit-transform: translateY(70%);
    }
    100% {
	opacity: 1;
	-webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
	opacity: 0;
	-webkit-transform: translateY(70%);
    }
    100% {
	opacity: 1;
	-webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
	text-align: center;
	margin: 25px 0;
    }
    .btn-lg {
	width: 100%;
	margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
	font-size: 150px;
    }
    .container {
	padding: 80px 5px;
    }
    
}                                           
.logo {
    font-size: 150px;
    color: #f4511e;
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.scroll-progress-container {
    width: 100%;
    height: 5px;
    background-color: white;
    position: absolute;
}

.scroll-progress {
    width: 0px;
    height: 5px;
    background-color: green;
}
