/*--This is my style file for blog--*/
/* Sushovan Majhi */
html, body {
    height: 100%;
    font-family: 'Gentium Book Basic', serif;
    
}
body {
    background-image: url("/img/shyamal.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: padding-box;
    background-attachment: fixed;
    background-size: cover;
}
ul {
    list-style: none;
}

.container-fluid {
    padding: 5px 10px;
}

.container {
    padding: 80px 10px;
    max-width: 100%;
}

.wrapper {
    box-shadow: 2px 2px 5px #888888;
    padding: 5px;
    background-color: white;
}

.index-container {
    position: relative;
    margin-top: 60px;
}

.post-wrapper {
    margin: 0px;
    font-size: 20px;
}

.icon-bar {
    background-color: black!important;
}

.weblink {
    display: block;
    background: #E1E8ED;
    margin: 5px;
    border: 1px solid grey;                                           
    border-radius: 5px;                                                    
    color: #4285F4;                                                           
    padding: 5px;
}

.Bengali {
    font-family: 'Atma', cursive;
    /* font-family: BNG, SutonnyBanglaOMJ, SolaimanLipi; */
}

/* Navbar and Navmenu */
/* .my-nav{ */
/*     height: 45px; */
/*     position: fixed; */
/*     right: 0px; */
/*     left: 0px; */
/*     font-size: 25px; */
/*     opacity: 0.8; */
/*     background-color: white; */
/*     padding: 5px; */
/* } */
/* .nav-left { */
/*     position: absolute; */
/*     left: 30px; */
/* } */
/* .nav-right { */
/*     position: absolute; */
/*     right: 30px; */
/* } */


.navmenu {
    padding-top: 90px!important;
    padding: 20px;
}
.navmenu-default {
}

.navbar {
    opacity: 0.7;
    display: block;
    text-align: center;
}
.navbar-brand {
    display: inline-block;
    float: none;
    font-size: 20px;
}
.navbar-toggle {
    position: absolute;
    float: left;
    margin-left: 20px;
    border: none;
}

/* -------------------------------------------- */

/* Screen size information */
@media (min-width: 1px) {
    .navbar-toggle {
	display: block !important;
    }
}

@media (min-width: 992px) {
    body {
	padding: 0 0 0 300px;
    }
    .navmenu {
	padding-top: 0;
    }
    .navbar {
	display: none !important; /* IE8 fix */
    }
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.footer {
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #c0cde2;
    color: black;
}

/* ------------------------------------------------ */
/* Style all font awesome icons */
.fa {
    padding: 15px;
    font-size: 5px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
