/*--This is my style file --*/
/* Sushovan Majhi */
body {
    font-family: Modern Antiqua;
    font-family: 'Gentium Book Basic', serif;
}

ul {
    list-style: none;
}

.container-fluid {
    padding: 5px 10px;
}

.container {
    padding: 80px 50px;
}

.navigation-button-group {
    position: fixed;
    right: 2px;
    bottom: 40%;
}
.list-container {
    box-shadow: 2px 2px 5px #888888;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.post-container {
    font-size: 15px;
}

.bg-white {
    background-color: white;
}
.bg-paleGreen {
    background-color: Turquoise;
}

.bg-springGreen {
    background-color: SpringGreen;
}

.bg-tomato {
    background-color: MediumPurple;
}
 
.Bengali {
    font-family: 'Atma', cursive;
    /* font-family: BNG, SutonnyBanglaOMJ, SolaimanLipi; */
}

.tab-content {
    padding: 5px;
    margin: 5px;
}

.my-nav{
    position: fixed;
    right: 0px;
    left: 0px;
    font-size: 25px;
    padding: 5px;
    opacity: 0.7;
    background-color: black;
    color: white;
}
.nav-left {
    position: absolute;
    left: 30px;
}
.nav-right {
    position: absolute;
    right: 30px;
}


.navbar {
    padding: 0px;
    margin-top: 0px;
    padding-left: 10%;
    background-image: url("/img/back.png");
    z-index: 9999;
}
.navbar-brand {
    font-size: 25px!important;
}
.navbar li a {
    /* color: #fff !important; */
    border-left: 1px solid grey;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 3s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
	opacity: 0;
	-webkit-transform: translateY(70%);
    }
    100% {
	opacity: 1;
	-webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
	opacity: 0;
	-webkit-transform: translateY(70%);
    }
    100% {
	opacity: 1;
	-webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
	text-align: center;
	margin: 25px 0;
    }
    .btn-lg {
	width: 100%;
	margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
	font-size: 150px;
    }
    .container {
	padding: 80px 5px;
    }
    
}                                           
.logo {
    font-size: 150px;
    color: #f4511e;
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.scroll-progress-container {
    width: 100%;
    height: 5px;
    background-color: white;
    position: absolute;
}

.scroll-progress {
    width: 0px;
    height: 5px;
    background-color: green;
}

.footer {
    background-color: #091830;
    color: grey;
}

/* Style all font awesome icons */
.fa {
    padding: 15px;
    font-size: 5px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.btn-circle {
    background: transparent;
    color: #448cff;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 20px;
}
.btn-transparent {
    background: transparent;
    color: #448cff;
    padding: 6px 6px 6px 6px;
}
