---
base_title: Sushovan Majhi
---
<!doctype html>
<html>
  <head>
    {% include gtag_blog.js %}
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Sushovan Majhi</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/fruity.css">
    <link rel="stylesheet" type="text/css" href="/css/math.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
	    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	    crossorigin="anonymous">
    </script>
    <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">
  </head>
  <body>
    {% unless page.masthead %}
    <div class="ui inverted basic segment" style="margin: 0">
      {% include menu.html %}
    </div>
    {% endunless %}

    <div class="main content">{{ content }}</div>
    {% include footer.html %}

  
    <script src="/js/homepage.js"></script>
    <script src="/js/math.js"></script>
  </body>
</html>

