---
layout: home
---
<div class="container">
  <h1 class="center aligned post title">
    {{ page.title }}
  </h1>
  <div style="width: 300px;margin:auto;border-bottom: 10px solid #C70039;"></div>
  <h3 class="center aligned">{{ page.author }}
    &lt;<a style="color:#C70039" href="https://smajhi.com"><tt>smajhi.com</tt></a>&gt;
  </h3>
  <div class="center aligned">
    <span class="disabled">{{ page.date | date: "%B %-d, %Y" }}</span>
    {% if page.topic %}
    |
    <a href="/" class="button">{{ page.topic }}</a>
    {% endif %}
    <br>
    <br>
    {% for tag in page.tags %}
    <a class="tag">#{{ tag }}&nbsp;</a>
    {% endfor %}
  </div>
  <div class="post content">
    {{ content }}
  </div>
</div>
