---
layout: home
---
<div class="container">
  <h1 class="center aligned post title">
    {{ page.title }}
  </h1>
  <div style="width: 300px;margin:auto;border-bottom: 10px solid #C70039;"></div>
  <h3 class="center aligned">{{ page.author }}
    &lt;<a style="color:#C70039" href="https://smajhi.com"><tt>smajhi.com</tt></a>&gt;
  </h3>
  <div class="center aligned">
    <span class="disabled">{{ page.date | date: "%B %-d, %Y" }}</span>
    {% if page.topic %}
    |
    <a href="/" class="button">{{ page.topic }}</a>
    {% endif %}
    <br>
    <br>
    {% for tag in page.tags %}
    <a class="tag">#{{ tag }}&nbsp;</a>
    {% endfor %}
  </div>
  <div class="post content">
    {{ content }}
  </div>


  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
    this.page.url = "{{ page.url }}";
    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
s.src = 'https://EXAMPLE.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
